/* Taken from http://stackoverflow.com/questions/33938811/styling-a-tableview-in-css-javafx */
.root {
    -fx-background-color: #262626;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

 .table-view .filler {
     -fx-background-color: transparent
 }

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.list-view:focused {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.list-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

#songTitle {
    -fx-fill: white;
}

#songLength {
    -fx-fill: white;
}

#currentTime {
    -fx-fill: white;
}

#playlist {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}

#playlist {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}

#playlist:hover{
    -fx-background-color: #131313;
}

.list-view > .virtual-flow > .scroll-bar:vertical,
.list-view > .virtual-flow > .scroll-bar:vertical > .track,
.list-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.list-view > .virtual-flow > .scroll-bar:horizontal,
.list-view > .virtual-flow > .scroll-bar:horizontal > .track,
.list-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: #262626;
}

.list-view > .virtual-flow > .scroll-bar > .increment-button,
.list-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

#play:hover, #previous:hover, #next:hover, #volumeDown:hover, #volumeUp:hover{
    -fx-background-color: -fx-inner-border, #424242;
    -fx-background-radius: 5px, 5px, 5px, 5px;
}
