.button {
    -fx-background-color: #616161;
}

.button:hover {
    -fx-background-color: #131313;
}

.text {
    -fx-fill: white;
}

.root * {
    -fx-background-color: #262626;
}

.text-field {
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-progress-color: white;
}



